@import '../../_variables.scss';

input::placeholder{
  color: #ffffff;
  opacity: 1;
}
::-ms-input-placeholder { /* Edge 12-18 */
  color: #ffffff;
}

.formLogin {
  max-width: 500px;
  width: 100%;
}

.formLogin input {
  background-color: $pantone-7421;
  border: 0;
  color: #ffffff;
  outline: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.formLogin button {
  background-color: $second-color;
  border-color: $second-color;
  &:hover {
    background-color: $second-color;
    border-color: $second-color;
  }
  &:active {
    background-color: $second-color!important;

    border-color: $second-color!important;
    
  }
}

.recoveryPass a, .createAccount a{
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}
