$pantone-7421: #621132;
$pantone-7420: #9D2449;
$pantone-627: #13322B;
$pantone-465: #b38E5D;
$pantone-468: #D4c19c;
$primary-color: #730F2F;
$second-color: #C69259;
$third-color: #E4C7A4;
$formacion-profesional-color: #55C4C0;
$profesionalizacion-docente-color: #87CF75;
$programas-licencituras-tsu-color: #F09A40;
$programas-investigacion-posgrado-color: #EA4F38;
$institucion-plantel-color: #835AED;
